html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*background wrapper*/
.bg-wrap{
    position: relative;
    background-color: rgba(0, 0, 0, .85);
    min-height: 100vh;
}
.bg-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
/*main title&logo wrapper*/
.grid-wrap {
    display: inline-grid;
    grid-template-columns: 20% 80%;
    width: 100%;
}
.grid-item{
    align-self: center;
}
/*page logo*/
.logo {
    text-align: center;
}
.logo img {
    width: 50%;
    margin: 0 auto;
}
/*page main title*/
.main-title {
    text-align: center;
    color: rgb(237, 25, 74);
    font-size: 3rem;
    letter-spacing: .2rem;
}
/*main navigation*/
.main-nav {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;;
}
.main-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.nav-el {
    color: rgb(237, 25, 74);
    font-size: 2rem;
    transition: .5s;
}
.nav-el:hover {
    color: rgb(62, 121, 180);
    cursor: pointer;
}
.active-nav {
    color: rgb(62, 121, 180);
}
/*clock container*/
.zone-title-wrap {
    padding: 1rem;
}
.zone-title {
    text-align: center;
    color: rgb(62, 121, 180);
    font-size: 2rem;
    letter-spacing: .1rem;
}
.zone-subtitle {
    display: block;
    text-align: center;
    color: #aaaaaa;
    font-size: 1.2rem;
    padding: .2rem;
}
.timer {
    color: rgb(62, 121, 180);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
/*actual date&time*/
.spanDate, .spanDay, .spanTime {
    display: block;
    padding: .5rem;
    letter-spacing: .1rem;
}
.span-day {
    color: rgb(237, 25, 74);
}
/*footer*/
.footer-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-fixed p {
    color: rgb(237, 25, 74);
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .2rem;
    padding: 1rem;
}
.footer-fixed a {
    color: rgb(237, 25, 74);
}